.section {
    display: flex;
    align-items: center;
    gap: 4px;
}

.title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}
.container{
    display: flex;
    justify-content: space-between;
}