.taskWrapper{
display: flex;
align-items: center;
width: inherit;

}

.favorites{
    margin-right: 30px;
}
.title{
    margin-left: 20px;
    font-weight: 800;
    width: 200px;
}
.text{
margin-right: 30px;
width: 500px;
}

.inputWrapper{
    display: flex;
    align-items: center;
}
.buttonWrapper{
    margin-left: auto;
}